@font-face {
  font-family: Roboto;
  src: url('../fonts/Roboto-Regular.woff');
  font-weight: 400;
}

@font-face {
  font-family: RobotoCondensed;
  src: url('../fonts/RobotoCondensed-Bold.woff');
  font-weight: 700;
}

@font-face {
  font-family: OpenSans;
  src: url('../fonts/OpenSans-Regular.woff');
  font-weight: 400;
}

@font-face {
  font-family: Georgia;
  src: url('../fonts/georgia.woff');
  font-weight: 400;
}

@font-face {
  font-family: Georgia;
  src: url('../fonts/georgia-italic.woff');
  font-style: italic;
  font-weight: 400;
}