body{
  padding: 0;
  margin: 0;
  font-family: Roboto;
}
.wrapper{
  max-width: $width-lg;
  position: relative;
  z-index: 2;
  height: 100%;
  margin: 0 auto;

  @media (max-width: $width-lg){
    padding: 0 10px;
  }

  @media (max-width: $width-md){
    height: auto;
  }
}
.wrapper-all{
 width: 100%;
  overflow: hidden;
  min-width: $width-min;
}
*{
  box-sizing: border-box;
}
h1, h2, h3, h4, p, a, img, ul, li{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  color: inherit;
}
header, section, footer{
  width: 100%;
  min-width: $width-min;
  margin: 0 auto;
  box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
section{
  min-height: 600px;
  height: 100vh;

  @media (max-width: $width-md){
    height: auto;
    min-height: 0;
    padding: 60px 0;
  }
}
.container{
  width: 100%;
  position: absolute;
  height: 600px;
  top: 50%;
  margin-top: -300px;

  @media (max-height: 800px){
    padding-top: 100px;
  }

  @media (max-width: $width-md){
    height: auto;
    position: static;
    margin: 0 auto;
    padding-top: 0;
  }

  &:after{
    content: 'Copyright 2016 · All rights reserved.';
    font-family: OpenSans;
    color:  #eae7e2;
    font-size: 10px;
    font-weight: 400;
    text-align: right;
    display: block;
  }

  @media (max-width: $width-sm){
    &:after{
      display: none;
    }
  }
}

[data-block-color]{
  .container{
    &:after{
      color: #484142;
    }
  }
}
button,
input{
  position: relative;
  box-sizing: border-box;
  border: none;
  background-color: transparent;
  outline: none;
  border-radius: 0;
}

button{
  cursor: pointer;
}

.col{
  display: inline-block;
  vertical-align: top;
}

.col-m{
  display: inline-block;
  vertical-align: middle;
}

.input{

}

.title{
  font-family: Georgia;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;

  @media(max-width: $width-sm){
    font-size: 18px;
    line-height: 26px;
  }
}

.subtitle{
  font-size: 20px;
  font-weight: 300;
  line-height: 22px;
  text-align: center;

  @media(max-width: $width-sm){
    font-size: 18px;
    line-height: 20px;
  }
}

.hidden{
  display: none!important;
}

.hidden-md{
  @media(max-width: $width-lg){
    display: none!important;
  }
}

.show-md{
  @media(min-width: $width-lg){
    display: none!important;
  }
}

.hidden-sm{
  @media(max-width: $width-sm){
    display: none!important;
  }
}

.show-sm{
  @media(min-width: $width-sm){
    display: none!important;
  }
}

.show-xs{
  @media(min-width: $width-xs){
    display: none!important;
  }
}