.header{
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  padding-top: 20px;

  &__logo{
    width: 91px;
    height: 91px;
    position: relative;
    z-index: 1;

    &-pic{
      width: 100%;

      &_white{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
      }
    }
  }

  &__text{
    font-family: RobotoCondensed;
    color:  #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    margin-left: 15px;
  }

  &__phone{
    font-family: RobotoCondensed;
    color:  #eae7e2;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    margin-left: 28px;
    white-space: nowrap;

    &_whatsapp{
      &:before{
        content: '';
        width: 28px;
        height: 28px;
        @extend .col-m;
        border-radius: 50%;
        background-color: $grey;
        margin-right: 18px;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("../img/header/icon-white.png");
      }
    }
  }
}

.s1{
  background-image: url("../img/section1/bg.png");
  font-family: Georgia;
  color:  #ffffff;
  text-align: center;

  .heading{
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-bottom: 35px;
  }

  .subheading{
    font-size: 24px;
    font-style: italic;
    letter-spacing: 0.6px;
  }

  .btn{
    display: block;
    margin: 50px auto 0 auto;

    &_scroll{
      margin: 28px auto;
    }
  }

  .copyright{
    font-family: OpenSans;
    color:  #eae7e2;
    font-size: 10px;
    font-weight: 400;
    text-align: right;
  }
}

.s2{
  background-color: #eae7e2;

  .title{
    color: #524b4c;
    margin-bottom: 20px;
  }

  .step{
    &__item{
      width: 320px;

      &-head{
        min-height: 120px;
      }
    }

    &__heading{
      color: #524b4c;
      font-family: Georgia;
      font-size: 18px;
      font-style: italic;
      margin-bottom: 12px;
    }

    &__subheading{
      color: #9d9798;
      font-family: Georgia;
      font-size: 12px;
      font-style: italic;
    }

    .step-id{
      width: 22px;

      span{
        color: #aaa5a6;
        font-family: RobotoCondensed;
        font-size: 12px;
        font-weight: 700;
        line-height: 28px;
        text-transform: uppercase;
        display: block;
        text-align: center;

        &.active-step{
          color: #648692;
          font-size: 24px;

          &:after{
            content: '';
            display: block;
            margin: 0 auto 0 auto;
            width: 15px;
            height: 1px;
            background-color: #ada7a8;
          }
        }
      }
    }

    &__title{
      color: #524b4c;
      font-family: RobotoCondensed;
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 22px;
    }

    .variants{
      @extend .flex_start-sm_top;
      position: relative;
      z-index: 1;
      margin-left: -16px;

      &__item{
        cursor: pointer;
        width: 80px;

        &.active,
        &:hover{
          .variants__preview{
            border-color: #524b4c;
          }
        }
      }

      &__preview{
        display: block;
        margin: 0 auto 10px auto;
        width: 66px;
        height: 66px;
        border-radius: 50%;
        border: 1px solid #d5d2d1;
        overflow: hidden;
        padding: 5px;
        font-size: 0;
        @include transition();

        &-pic{
          width: 100%;
          height: 100%;
          display: block;
          margin: 0 auto;
          border-radius: 50%;
        }
      }

      &__name{
        color: #654e52;
        font-size: 11px;
        font-weight: 400;
        text-align: center;
      }

      &_small{
        @include flex-wrap(wrap);

        .variants__preview{
          width: 48px;
          height: 48px;
        }
      }
    }

    .result{
      display: block;
      margin: 50px auto 0 auto;
      max-width: 100%;
    }

    &_1{

    }
  }
}