.modal{
  width: 100%;
  min-width: 320px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: scroll;
  transition: opacity 0.4s;
  z-index: 1000;

  &.hidden{
    z-index: -1000;
    opacity: 0;
    pointer-events: none;
    transition: 0s;
  }

  .layout{
    background-color: rgba(0,0,0, 0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }

  .centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transition: 0.4s;
    background-color: white;

    &.hidden{
      opacity: 0;
      top: 10%;
    }
  }

  .colse{
    position: absolute;
    top: -40px;
    right: -4px;
    cursor: pointer;
    width: 26px;
    height: 26px;

    &:after,
    &:before{
      content: '';
      display: block;
      width: 100%;
      height: 3px;
      background-color: white;
      position: absolute;
      bottom: 50%;
      left: 0;
    }
    &:after{
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }
    &:before{
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }
  }
}
