.btn{
  background-color: $blue;
  border-radius: 40px;
  font-family: RobotoCondensed;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  @include transition();

  &:hover{
    background-color: white;
    color: $blue;
  }

  &_first-screen{
    width: 237px;
    height: 85px;
    font-size: 21px;
  }

  &_scroll{
    width: 54px;
    height: 54px;
    display: block;
    position: relative;
    z-index: 1;

    &__pic{
      @include centered();
      @include transition();

      &_hover{
        opacity: 0;
      }
    }

    &:hover{
      .btn_scroll__pic{
        opacity: 0;

        &_hover{
          opacity:  1;
        }
      }
    }
  }
}

.menu-btn{
  padding: 0;
  margin-left: 30px;
  width: 54px;
  height: 54px;
  background-color: $grey;
  border-radius: 50%;
  @include transition();

  span{
    width: 21px;
    height: 2px;
    display: block;
    margin: 5px auto;
    background-color: white;
    @include transition();
  }

  &.active,
  &:hover{
    background-color: $white;

    span{
      background-color: #484142;
    }
  }
}



body{
  &.white-block{
    .header__logo-pic_white{
      opacity: 0;
    }

    .header__phone{
      color:  #484142;
    }

    .header__phone_whatsapp{
      &:before{
        background-color: $white;
        background-image: url("../img/header/icon.png");
      }
    }

    .menu-btn{
      background-color: $white;

      span{
        background-color: $blue;
      }

      &:hover{
        background-color: #484142;

        span{
          background-color: $white;
        }
      }
    }
  }
}

[data-description]{
  position: relative;
  z-index: 1;

  &:after{
    opacity: 0;
    z-index: -10;
    pointer-events: none;
    cursor: default;
  }

  &:after{
    content: '';
    position: relative;
    display: block;
    margin: 0 auto;
    width: 0;
    height: 0;
    border: 5px solid #493f40;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-width: 10px;
  }

  &:hover{
    z-index: 10!important;

    &:after{
      display: block;
      opacity: 1;
      z-index: 1;
      pointer-events: auto;
    }
  }
}

.description-block{
  @include transition(0.25s, opacity);
  position: absolute;
  z-index: -10;
  width: 100%;
  max-width: 320px;
  padding: 20px;
  color: white;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  background-color: #493f40;
  border-radius: 15px;
  box-sizing: border-box;
  opacity: 0;
  pointer-events: none;

  &:before{
    content: attr(data-text);
  }

  &.active{
    display: block;
    opacity: 1;
    z-index: 30;
    pointer-events: auto;
  }
}